*{margin: 0px;padding: 0px;}
/*main page*/
#pleiades{
	background-image:
	url("../images/astro/pleiades_edit.png");
	background-size: 100%;
}
#saturn{
	padding: 40px 0px;
	background: black;
}
nav{
	background: rgba(0,0,0,.7);
	width: 15%;
	height: 100vh;
	font-family: arial;
	font-size: 20px;
	position: fixed;
	z-index: 2;
}
nav ul{
}
nav ul li{
	padding: 5px;
	margin-bottom: 10px;
}
nav ul a{
	color: white;
	text-decoration: none;
}
nav ul li:hover{
	color: black;
	background: rgb(210,210,210);
	font-weight: bold;
	width: 110%;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	border-left: 30px solid rgb(51, 173, 255);
}
#transparency{
	background: rgba(0,0,0,.5);
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: -3;
}
header{
	color: white;
	background-color: rgb(30,30,30);
	text-align: center;
	font-weight: bold;
	font-family: impact;
	font-size: 100px;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 125px;
	padding: 20px 0px;
	padding-top: 10px;
	z-index: 3;
}
#container{
	color: rgb(225,225,225);
	-webkit-text-stroke: .5px #0EABFF;
	font-size: 20px;
	width: 75%;
	position: relative;
	font-family: verdana;
	left: 15%;
	top: 195px;
	padding: 0px 5%;
}
p{
	padding: 10px;
	line-height: 30px;
	font-family: verdana;
}
#acronym{
	background: rgb(20,20,20);
	color: blue;
	font-weight: bolder;
	font-family: arial;
	font-size: 25px;
	text-indent: 200px;
	position: absolute;
	z-index: 4;
	width: 100%;
}
/*social media bar and anchor*/
#social_media_bar{
	background: black;
	width: 100%;
	height: 35px;
	text-align: center;
	position: absolute;
	top: 155px;
	padding-bottom: 5px;
	z-index: 4;
}
#anchor{position:absolute;top: 155px;}
#social_media_bar.fixed{
	position:fixed;
	top:0px;
}
#social_media_bar ul{
	list-style:none;
	padding: 0px;
	margin: 0px;
	text-align: center;
	display: inline-block;	
}
#social_media_bar ul li{
	list-style: none;
	}
#social_media_bar ul a li{
	display: inline-block;
	padding: 0px 10px;
	padding-top: 4px;
}
#social_media_bar ul li:hover{
	background: rgb(200,200,200);
}
h1{
	background: rgba(0,0,0,.7);
	-webkit-text-stroke: 1px rgb(200,200,200);
	color: blue;
	padding: 10px 0px;
	text-indent: 100px;
	border-left: solid white 40px;
	width: 95%;
	margin: 0 auto;
	font-family: verdana;
}
/*donate buttons on nav bar*/
.donate_button_l{
	width: 100px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00bfbc+0,9df9f8+100 */
	background: #00bfbc; /* Old browsers */
	background: -moz-linear-gradient(45deg, #00bfbc 0%, #9df9f8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#00bfbc), color-stop(100%,#9df9f8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #00bfbc 0%,#9df9f8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #00bfbc 0%,#9df9f8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #00bfbc 0%,#9df9f8 100%); /* IE10+ */
	background: linear-gradient(45deg, #00bfbc 0%,#9df9f8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfbc', endColorstr='#9df9f8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 8px 0px;
	font-size: 20px;
	display: inline-block;
	position: relative;
	color: black;
	float: left;
	left: 250px;}
.donate_button_r{
	width: 100px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00bfbc+0,9df9f8+100 */
	background: #00bfbc; /* Old browsers */
	background: -moz-linear-gradient(45deg, #00bfbc 0%, #9df9f8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#00bfbc), color-stop(100%,#9df9f8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #00bfbc 0%,#9df9f8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #00bfbc 0%,#9df9f8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #00bfbc 0%,#9df9f8 100%); /* IE10+ */
	background: linear-gradient(45deg, #00bfbc 0%,#9df9f8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfbc', endColorstr='#9df9f8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 8px 0px;
	font-size: 20px;
	display: inline-block;
	position: relative;
	color: black;
	float: right;
	left: -250px;}
.donate_button_l:hover{
	color: white;
	font-weight: bold;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2850ef+0,000256+100 */
	background: #2850ef; /* Old browsers */
	background: -moz-linear-gradient(45deg, #2850ef 0%, #000256 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#2850ef), color-stop(100%,#000256)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #2850ef 0%,#000256 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #2850ef 0%,#000256 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #2850ef 0%,#000256 100%); /* IE10+ */
	background: linear-gradient(45deg, #2850ef 0%,#000256 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2850ef', endColorstr='#000256',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.donate_button_r:hover{
	color: white;
	font-weight: bold;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2850ef+0,000256+100 */
	background: #2850ef; /* Old browsers */
	background: -moz-linear-gradient(45deg, #2850ef 0%, #000256 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#2850ef), color-stop(100%,#000256)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #2850ef 0%,#000256 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #2850ef 0%,#000256 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #2850ef 0%,#000256 100%); /* IE10+ */
	background: linear-gradient(45deg, #2850ef 0%,#000256 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2850ef', endColorstr='#000256',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/*about page*/
#soc_nav{
	width:150px;
	height: 100vh;
	background: rgb(50,50,50);
	color: white;
	font-size: 30px;
	position: fixed;
	z-index: 9;
}
#soc_nav li{
	padding: 10px 0px;
	border-bottom: 1px solid white; 
}
#nasa_logo{
	width: 150px;
	padding-bottom: 20px;
}
#soc_nav ul{
	list-style: none;
	padding-left: 10px;
}
#container2{
	width: 75%;
	position: relative;
	padding: 20px 6.85%;
	top: 20%;
	left: 150px;
	font-size: 18px;
	color: white;
	position: relative;
	left: 150px;
	top: 129px;
}
#container2 p{
	width: 80%;
	margin: 0 auto;
	background: rgba(0,0,0,.8);
	padding: 30px;
}
#space{
	background-image:
	url("../images/astro/deep_field.jpg");
	background-size: 100%;
}
#about_head{
	width: 100%;
	text-align: center;
	position: absolute;
	z-index: 10;
	font-family: impact;
	font-size: 100px;
	color: white;
	background-image: 
	url("../images/astro/pleiades.png");
	background-position: 40% 60%;
	padding: 5px 0px;
	-webkit-text-stroke: 4px rgb(25,25,150);
}
/*tooltips for nav bar on about page*/
a.tooltips {
  position: relative;
  display: inline;
  text-decoration: none;
  color: white;
}
a.tooltips span {
  position: absolute;
  width:300px;
  color: #66FAFF;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b7577+0,0f0f0f+100 */
	background: #6b7577; /* Old browsers */
	background: -moz-linear-gradient(45deg, #6b7577 0%, #0f0f0f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#6b7577), color-stop(100%,#0f0f0f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #6b7577 0%,#0f0f0f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #6b7577 0%,#0f0f0f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #6b7577 0%,#0f0f0f 100%); /* IE10+ */
	background: linear-gradient(45deg, #6b7577 0%,#0f0f0f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b7577', endColorstr='#0f0f0f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  text-align: center;
  visibility: hidden;
  border-radius: 0px;
  font-size: 18px;
  padding: 3px 0px;
}
a:hover.tooltips span {
  visibility: visible;
  left: 100%;
  top: 50%;
  margin-top: -56px;
  margin-left: 140px;
  z-index: 8;
}
/*donation page*/
#why_donate{
	width: 62.5%;
	margin: 0 auto;
	color: white;
	font-size: 18spx;
	background: rgba(0,0,0,.7);
	margin-top: 200px;
	padding: 20px;
}
#donation_box{
	height: 610px;
	width: 65%;
	border: 3px solid white;
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
	background: rgba(0,0,0,.5);
}
.button_box{
	padding-top: 30px;
	text-align: center;
}
.btn {
  background: #30acff;
  background-image: -webkit-linear-gradient(top, #30acff, #1f6794);
  background-image: -moz-linear-gradient(top, #30acff, #1f6794);
  background-image: -ms-linear-gradient(top, #30acff, #1f6794);
  background-image: -o-linear-gradient(top, #30acff, #1f6794);
  background-image: linear-gradient(to bottom, #30acff, #1f6794);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 38px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 100px;
  text-align: center;
  display: inline-block;
  margin: 0 30px;
  margin-top: 30px;
}
.btn:hover {
  background: #1c567a;
  background-image: -webkit-linear-gradient(top, #1c567a, #1ba1fa);
  background-image: -moz-linear-gradient(top, #1c567a, #1ba1fa);
  background-image: -ms-linear-gradient(top, #1c567a, #1ba1fa);
  background-image: -o-linear-gradient(top, #1c567a, #1ba1fa);
  background-image: linear-gradient(to bottom, #1c567a, #1ba1fa);
  text-decoration: none;
}
form p {
	margin: 0px;
	padding: 0px 10px;
	display: inline-block;
	color: white;
	width: 13%
}
form input{
	padding: 10px;
	font-family: verdana;
	color: white;
	background: rgb(25,25,25);
	font-size: 20px;
}
#name_box{
	margin-top: 30px;
}
#unique_donation{
	text-align: center;
	margin-top: 20px;
}
#unique_donation p{
	color: white;
	font-size: 26px;
	display: inline-block;
}
#stars{
	background-image: url("../images/astro/stars.jpg");
	background-size: 100%;
}
#sub{
	width: 10%;
	padding: 10px;
	height: 48px;
	background: rgb(50,50,50);
	color: rgb(200,200,200);
	font-size: 22px;
}
#donation_head{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00048e+0,000228+53,000228+53,000228+53,3842d1+100 */
	background: #00048e; /* Old browsers */
	background: -moz-linear-gradient(45deg, #00048e 0%, #000228 53%, #000228 53%, #000228 53%, #3842d1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#00048e), color-stop(53%,#000228), color-stop(53%,#000228), color-stop(53%,#000228), color-stop(100%,#3842d1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #00048e 0%,#000228 53%,#000228 53%,#000228 53%,#3842d1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #00048e 0%,#000228 53%,#000228 53%,#000228 53%,#3842d1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #00048e 0%,#000228 53%,#000228 53%,#000228 53%,#3842d1 100%); /* IE10+ */
	background: linear-gradient(45deg, #00048e 0%,#000228 53%,#000228 53%,#000228 53%,#3842d1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00048e', endColorstr='#3842d1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color: #DAFCFF;
	width: 100%;
	font-family: arial;
	font-weight: bold;
	padding: 10px 0px;
	-webkit-text-stroke: 3px #0EABFF;
}
#donation_foot{
	width: 100%;
	padding: 10px 0px;
	background: black;
	color: #0EABFF;
	text-align: center;
	font-size: 24px;
	position: relative;
	margin-top: 40px;
}
/*astronomy page*/
#astronomy_head{
	color: white;
	background: black;
	font-size: 80px;
	font-family: arial;
	text-align: center;
	padding: 20px 0px;
}
#content{
	width: 70%;
	padding: 20px 15%;
	font-family: verdana;
	font-size: 18px;
	line-height: 20px;
	color: rgb(200,200,200);
}
#content p{
	background: rgba(0,0,0,.8);
	border-radius: 20px;
	margin-bottom: 30px;
	border: double white 5px;
}
#earth{
	background-image:
	url("../images/astro/earth.jpg");
	background-size: 100%;
	background-attachment: fixed;
}
#content h1{
	text-align: center;
	border-left: blue 60px solid;
	border-right: blue 60px solid;
	padding: 20px 0px;
	text-indent: 0px;
	width: auto;
	font-size: 50px;
}
#bottom_bar{
	width: 100%;
	color: white;
	background: black;
	text-align: center;
	font-size: 30px;
	padding: 60px 0px;
}
#bottom_bar a{
	font-size: 24px;
	text-decoration: none;
	color: rgb(100,100,100);
}
#bottom_bar li{
	padding: 10px 0px;
}
#bottom_bar li:hover{
	background: white;
	color: black;
	font-weight: bold;
	width: 60%;
	margin: 0 auto;
	border-radius: 20px;
}
hr{
	border: none;
	border-top: dashed 3px white;
	margin: 20px 0px;
}
/*image page*/
.img_container{
	width: 100%;
	text-align: center;
	padding: 20px 0px;
	background: black;
}
.img_container img{
	width: 10%;
	margin: 2%;
}
.img_container img:hover{
	width: 40%;
	padding: 0px;
}
.img_description{
	width: 100%;
	text-align: center;
	background: #00042E;
	padding: 10px 0px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	color: white;  
}
.img_description ul{
	list-style: none;
}
.img_description ul li{
	display: inline-block;
	width: 10%;
	padding: 10px 1%;
	margin: 0px 1%;
	font-size: 16px;
	background: #12151C;
	color: white;
	border: white solid 1px;
}
.img_description ul li:hover{
	background:white;
	color: black;
}
.text{
}
.text h2{
	color: white;
	width: 60%;
	font-size: 40px;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid white;
}
.text p{
	color: white;
	padding: 20px 10%;
	padding-bottom: 0px;
}
#bottom{
	text-align: center;
	padding: 20px 0px;
	margin-top: 100px;
	background: rgb(25,25,25);
	border-top: solid 30px rgb(15,15,15)
}
#bottom ul{
	list-style: none;
}
#bottom ul li{
	color: #008CFF;
	background: black;
	font-size: 20px;
	border: 1px solid white;
	display: inline-block;
	width: 15%;
	padding: 15px 0px;
	margin: .5%;
}
#bottom ul li:hover{
	color: black;
	background: #008CFF;
	font-weight:bold;
}