*{
	margin: 0px;
	padding: 0px;}
#pleiades{
	background-image:
	url("../images/astro/pleiades_edit.png");
	background-size: 100%;
}
#saturn{
	padding: 40px 0px;
	background: black;
}
nav{
	background: rgba(0,0,0,.7);
	width: 15%;
	height: 100vh;
	font-family: arial;
	font-size: 20px;
	position: fixed;
	z-index: 2;
}
nav ul{
}
nav ul li{
	padding: 5px;
	margin-bottom: 10px;
}
nav ul a{
	color: white;
	text-decoration: none;
}
nav ul li:hover{
	color: black;
	background: rgb(210,210,210);
	font-weight: bold;
	width: 110%;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	border-left: 30px solid rgb(51, 173, 255);
}
#transparency{
	background: rgba(0,0,0,.5);
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: -3;
}
header{
	color: white;
	background-color: rgb(30,30,30);
	text-align: center;
	font-weight: bold;
	font-family: impact;
	font-size: 100px;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 125px;
	padding: 20px 0px;
	padding-top: 10px;
	z-index: 3;
}

#container{
	color: rgb(225,225,225);
	-webkit-text-stroke: .5px #0EABFF;
	font-size: 20px;
	width: 75%;
	position: relative;
	font-family: verdana;
	left: 15%;
	top: 195px;
	padding: 0px 5%;
}
p{
	padding: 10px;
	line-height: 30px;
	font-family: verdana;
}
#acronym{
	background: rgb(20,20,20);
	color: blue;
	font-weight: bolder;
	font-family: arial;
	font-size: 25px;
	text-indent: 200px;
	position: absolute;
	z-index: 4;
	width: 100%;
}
#social_media_bar{
	background: black;
	width: 100%;
	height: 35px;
	text-align: center;
	position: absolute;
	top: 155px;
	padding-bottom: 5px;
	z-index: 3;
}
#social_media_bar ul{
	list-style:none;
	padding: 0px;
	margin: 0px;
	text-align: center;
	display: inline-block;	
}
#social_media_bar ul li{
	list-style: none;
	}
#social_media_bar ul a li{
	display: inline-block;
	padding: 0px 10px;
	padding-top: 4px;
}
#social_media_bar ul li:hover{
	background: rgb(200,200,200);
}
h1{
	background: rgba(0,0,0,.7);
	-webkit-text-stroke: 1px rgb(200,200,200);
	color: blue;
	padding: 10px 0px;
	text-indent: 100px;
	border-left: solid white 40px;
	width: 95%;
	margin: 0 auto;
	font-family: verdana;
}

#donate_button_l,#donate_button_r{
	width: 100px;
	background: white;
	padding: 8px 0px;
	font-size: 20px;
	display: inline-block;
	position: relative;
}
#donate_button_l{
	float: left;
	left: 250px;}
#donate_button_r{
	float: right;
	left: -250px;}
/*second page*/
#soc_nav{
	width:150px;
	height: 100vh;
	background: rgb(50,50,50);
	color: white;
	font-size: 30px;
	padding-top: 20px;
	position: fixed;
	z-index: 9;
}
#nasa_logo{
	width: 150px;
	padding-bottom: 30px;
}
#soc_nav ul{
	list-style: none;
	padding-left: 10px;
}
#container2{
	width: 75%;
	position: relative;
	padding: 20px 6.85%;
	top: 20%;
	left: 150px;
	font-weight: bold;
	font-size: 22px;
	color: white;
	position: relative;
	left: 150px;
	top: 129px;
}
#space{
	background: gray;
}
#about_head{
	width: 100%;
	text-align: center;
	position: absolute;
	z-index: 10;
	font-family: impact;
	font-size: 100px;
	color: white;
	background-image: 
	url("../images/astro/pleiades.png");
	background-position: 40% 60%;
	padding: 5px 0px;
	-webkit-text-stroke: 4px rgb(25,25,150);
}

a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:140px;
  color: #66FAFF;
  background: black;
  text-align: center;
  visibility: hidden;
  border-radius: 0px;
}

a:hover.tooltips span {
  visibility: visible;
  left: 100%;
  top: 50%;
  margin-top: -34px;
  margin-left: 140px;
  z-index: 8;
}

/*donation*/
#donation_box{
	height: 500px;
	width: 65%;
	border: 3px solid white;
	position: relative;
	margin: 0 auto;
	margin-top: 200px;
	background: rgba(0,0,0,.5);
}
#button_box{
	padding-top: 30px;
	text-align: center;
}

#btn {
  background: #30acff;
  background-image: -webkit-linear-gradient(top, #30acff, #1f6794);
  background-image: -moz-linear-gradient(top, #30acff, #1f6794);
  background-image: -ms-linear-gradient(top, #30acff, #1f6794);
  background-image: -o-linear-gradient(top, #30acff, #1f6794);
  background-image: linear-gradient(to bottom, #30acff, #1f6794);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 38px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 100px;
  text-align: center;
  display: inline-block;
  margin: 0 30px;
  margin-top: 30px;
}
#btn:hover {
  background: #1c567a;
  background-image: -webkit-linear-gradient(top, #1c567a, #1ba1fa);
  background-image: -moz-linear-gradient(top, #1c567a, #1ba1fa);
  background-image: -ms-linear-gradient(top, #1c567a, #1ba1fa);
  background-image: -o-linear-gradient(top, #1c567a, #1ba1fa);
  background-image: linear-gradient(to bottom, #1c567a, #1ba1fa);
  text-decoration: none;
}

form p {
	margin: 0px;
	padding: 0px 10px;
	display: inline-block;
	font-size: 22px;
	color: white;
	width: 12%
}

form input{
	padding: 10px;
	font-family: verdana;
	color: white;
	background: rgb(25,25,25);
	font-size: 20px;
}
#name_box{
	margin-top: 30px;
}
#unique_donation{
text-align: center;
margin-top: 20px;
}
#unique_donation p{
	color: white;
	font-size: 26px;
	display: inline-block;
}
#stars{
	background-image: url("../images/astro/stars.jpg");
	background-size: 100%;
}

#sub{
	width: 10%;
	padding: 10px;
	height: 48px;
	background: rgb(50,50,50);
	color: rgb(200,200,200);
	font-size: 22px;
}
#donation_head{
	/* Permalink - use to edit and share this gradient:
	 http://colorzilla.com/gradient-editor/
	 #000875+0,000649+41,1e2572+100 */
	background: #000875; /* Old browsers */
	background: -moz-linear-gradient
	(45deg,  #000875 0%, #000649 41%, #1e2572 100%); 
	/* FF3.6+ */
	background: -webkit-gradient
	(linear, left bottom, right top, 
		color-stop(0%,#000875), 
		color-stop(41%,#000649), 
		color-stop(100%,#1e2572)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient
	(45deg,  #000875 0%,#000649 41%,#1e2572 100%); 
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient
	(45deg,  #000875 0%,#000649 41%,#1e2572 100%); 
	/* Opera 11.10+ */
	background: -ms-linear-gradient
	(45deg,  #000875 0%,#000649 41%,#1e2572 100%); 
	/* IE10+ */
	background: linear-gradient
	(45deg,  #000875 0%,#000649 41%,#1e2572 100%); 
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient
	( startColorstr='#000875', endColorstr='#1e2572',
		GradientType=1 ); 
	/* IE6-9 fallback on horizontal gradient */

	color: #DAFCFF;
	width: 100%;
	font-family: arial;
	font-weight: bold;
	padding: 10px 0px;
	-webkit-text-stroke: 3px #0EABFF;
}
#donation_foot{
	width: 100%;
	padding: 10px 0px;
	background: black;
	color: #0EABFF;
	text-align: center;
	font-size: 24px;
	position: relative;
	margin-top: 40px;
}